01_prompting/to_run.sh
01_prompting/other
01_prompting/results/ignore
01_prompting/results/lm_harness/
01_prompting/run_benchmark_vllm_api.py
envs.env
03_evaluates/envs.env
03_evaluates/output/
completions*
validation
*/.DS_Store
.DS_Store
*/__pycache__/
.vscode/
checkpoints/
lm_harness
unsloth_compiled_cache/
wandb/
checkpoints/
*/__pycache__/
01_prompting/run_benchmark_vllm_api.py
01_prompting/results/lm_harness/
03_evaluates/output/completions_v0
03_evaluates/output/completions_v1
